<section class="call-you">
  <div class="info-box-call">
    <h2 class="call-you-title">FRESH HARVEST BOX HAS GOT YOU COVERED</h2>
    <p class="call-you-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <form class="call-you-form">
      <label for="tel" class="call-you-label">
        <input id="tel" type="tel" class="tel-input" name="tell" />
      </label>
      <button type="button" class="call-you-btn">Recall</button>
    </form>
  </div>

  <div class="call-you-img">
    <svg class="call-icon">
      <use href="../img/icons.svg#"></use>
    </svg>
    <img />
  </div>
</section>
