<section class="call-you">
  <div class="info-box-call">
    <h2 class="call-you-title">FRESH HARVEST BOX HAS GOT YOU COVERED</h2>
    <p class="call-you-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>

    <form class="call-you-form">
      <label for="tel" class="call-label">
        <input
          id="tel"
          placeholder="+380()"
          pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
          minlength="13"
          maxlength="13"
          type="tel"
          class="tel-input"
          name="tel"
        />
      </label>
      <button type="submit" class="call-you-btn">Recall</button>
    </form>
  </div>
  <div class="call-you-img">
    <img
      srcset="
        ./img/call-you/call-you1x.png 1x,
        ./img/call-you/call-you1x.png 2x
      "
      alt="support"
      class="img-call"
    />
  </div>
</section>
