<footer class="footer">
  <div class="footer_container">
    <div class="body-footer__imgbox">
      <img
        src="../img/imgFooter/img_vegetables.png "
        alt="Foter img vegetables"
      />
      <a href="./index.html" class="body-footer__logo">
        <svg class="footer-icon-logo">
          <use href="../img/icons.svg#icon-logo-veg"></use>
        </svg>
        <span>veggieboost</span>
      </a>
      <ul class="body-footer__afterimg">
        <li class="contacts-footer__item">
          <a href="#" class="contacts-footer__link">How It Works</a>
        </li>
        <li class="contacts-footer__item">
          <a href="#" class="contacts-footer__link">Vegetables</a>
        </li>
        <li class="contacts-footer__item">
          <a href="#" class="contacts-footer__link">Contacts</a>
        </li>
      </ul>
    </div>
    <div class="body-footer__nav">
      <ul class="body-footer__menu">
        <li class="contacts-footer__item">
          <a href="#" class="contacts-footer__link">How It Works</a>
        </li>
        <li class="contacts-footer__item">
          <a href="#" class="contacts-footer__link">Vegetables</a>
        </li>
        <li class="contacts-footer__item">
          <a href="#" class="contacts-footer__link">Contacts</a>
        </li>
      </ul>
    </div>
    <div class="body-footer__info">
      <ul class="body-footer__sol">
        <li class="body-footer__sol-item">
          <a href="#" class="body-footer__sol-link">
            <svg width="40" height="40" class="footer-icon-sol">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="body-footer__sol-item">
          <a href="#" class="body-footer__sol-link">
            <svg width="40" height="40" class="footer-icon-sol">
              <use href="../img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="body-footer__sol-item">
          <a href="#" class="body-footer__sol-link">
            <svg width="40" height="40" class="footer-icon-sol">
              <use href="../img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>

      <p class="text-number">+380 (68) 443-94-26</p>
      <p class="text-info">
        1678 S. Pioneer Road<br />
        Salt Lake City<br />
        UT 84104
      </p>
    </div>
  </div>
</footer>
