<footer class="footer">
  <div class="footer_container">
    <div class="footer-img-nav">
      <div class="body-footer__imgbox">
        <picture>
          <source
            media="(min-width: 375px)"
            srcset="
              ./img/imgFooter/img_vegetablesmob-2.png  1x,
              ./img/imgFooter/img_vegetablesmob2-2.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/imgFooter/img_vegetablestab-2.png  1x,
              ./img/imgFooter/img_vegetablestab2-2.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/imgFooter/img_vegetablesdesk-2.png   1x,
              ./img/imgFooter/img_vegetablesdeskx2-2.png 2x
            "
          />
          <img
            src="./img/imgFooter/img_vegetablesdesk-2.png"
            alt="vegetables"
          />
        </picture>
        <a href="./index.html" class="body-footer__logo">
          <svg class="footer-icon-logo" width="16" height="16">
            <use href="./img/icons.svg#icon-logo-veg"></use>
          </svg>
          <span>veggieboost</span>
        </a>
      </div>

      <ul class="body-footer__menu">
        <li class="contacts-footer__item">
          <a href="#how-it" class="contacts-footer__link">How It Works</a>
        </li>
        <li class="contacts-footer__item">
          <a href="#vegetables" class="contacts-footer__link">Vegetables</a>
        </li>
        <li class="contacts-footer__item">
          <a href="#contacts" class="contacts-footer__link">Contacts</a>
        </li>
      </ul>
    </div>
    <div class="body-footer__info" id="contacts">
      <ul class="body-footer__sol">
        <li class="body-footer__sol-item">
          <a
            href="https://uk-ua.facebook.com/"
            class="body-footer__sol-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="facebook"
          >
            <svg width="40" height="40" class="footer-icon-sol">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="body-footer__sol-item">
          <a
            href="https://www.instagram.com/"
            class="body-footer__sol-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="instagram"
          >
            <svg width="40" height="40" class="footer-icon-sol">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="body-footer__sol-item">
          <a
            href="https://www.youtube.com/watch?v=X90Hxi6NxXU&ab_channel=UkraineMusic"
            class="body-footer__sol-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="instagram"
          >
            <svg width="40" height="40" class="footer-icon-sol">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="address">
        <ul class="address-menu list">
          <li class="address-item">
            <a class="address-link link" href="tel:380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="address-item">
            <p class="text-info">
              1678 S. Pioneer Road Salt Lake City<br />

              UT 84104
            </p>
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
