<header class="header">
  <div class="header-container container">
    <div class="container-navigation-logo">
      <nav class="header-navigation">
        <ul class="header-list list">
          <li class="header-item">
            <a href="#How It Works">How It Works</a>
          </li>
          <li class="header-item">
            <a href="#Vegetables">Vegetables</a>
          </li>
          <li class="header-item">
            <a href="#Contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="container-header-logo">
        <ul class="logo-veggieboost">
          <li class="logo-icon">
            <a class="icon-vector" href="./index.html">
              <svg class="icon-svg-vector" width="16" height="16">
                <use href="./img/icons.svg#icon-logo-veg"></use>
              </svg>
            </a>
          </li>
          <li class="logo-name">veggieboost</li>
        </ul>
      </div>
    </div>
    <div class="container-button-shopping">
      <button type="button" class="open-modal data-modal-open" modal>
        <svg class="icon-shopping" width="20" height="20">
          <use href="./img/icons.svg#icon-shopping-cart"></use>
        </svg>
      </button>
    </div>
    <div class="container-button-openmobmenu">
      <button
        type="button"
        class="open-mobile-menu burger__open-btn"
        mobileMenu
      >
        <svg class="icon-burger" width="24" height="24">
          <use href="./img/icons.svg#icon-sandwich-menu"></use>
        </svg>
      </button>
    </div>
  </div>
  <!---------mobile-menu--------->
  <div class="container-mobile-menu burger__menu is-hidden" mobileMenu>
    <div class="container-header-mobmenu">
      <div class="container-header-logo">
        <ul class="logo-veggieboost">
          <li class="logo-icon">
            <a class="icon-vector" href="../index.html">
              <svg class="icon-svg-vector" width="16" height="16">
                <use href="./img/icons.svg#icon-logo-veg"></use>
              </svg>
            </a>
          </li>
          <li class="logo-name">veggieboost</li>
        </ul>
      </div>
      <div class="container-button-close">
        <button
          type="button"
          class="close-mobile-menu burger__close-btn"
          mobileMenu
        >
          <svg class="icon-svg-burger" width="24" height="24">
            <use href="./img/icons.svg#icon-x-close"></use>
          </svg>
          X
        </button>
      </div>
    </div>

    <div class="navigation-mobile-menu">
      <nav class="header-navigation mobile-menu-navigation">
        <ul class="header-list-mobmenu list">
          <li class="header-item">
            <a href="#How It Works">How It Works</a>
          </li>
          <li class="header-item">
            <a href="#Vegetables">Vegetables</a>
          </li>
          <li class="header-item">
            <a href="#Contacts">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container-button-shopping-menu">
      <button type="button" class="open-modal data-modal-open" modal>
        <svg class="icon-shopping" width="24" height="24">
          <use href="./img/icons.svg#icon-shopping-cart"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
