<section class="hero">
  <div class="container hero-container">
    <div class="hero-reviews">
      <picture class="hero-review-img">
        <source
          srcset="./img/hero/review-1.webp"
          media="(min-width: 1280)"
          type="image/webp"
        />

        <source
          srcset="./img/hero/review-1.png"
          media="(min-width: 1280px)"
          type="image/png"
        />

        <img
          src="./img/hero/review-1.png"
          alt="reviews"
          width="66"
          height="66"
        />
      </picture>

      <picture class="hero-review-img">
        <source
          srcset="./img/hero/review-2.webp"
          media="(min-width: 1280)"
          type="image/webp"
        />

        <source
          srcset="./img/hero/review-2.png"
          media="(min-width: 1280px)"
          type="image/png"
        />

        <img
          src="./img/hero/review-2.png"
          alt="reviews"
          width="66"
          height="66"
        />
      </picture>

      <picture class="hero-review-img">
        <source
          srcset="./img/hero/review-3.webp"
          media="(min-width: 1280)"
          type="image/webp"
        />

        <source
          srcset="./img/hero/review-3.png"
          media="(min-width: 1280px)"
          type="image/png"
        />

        <img
          src="./img/hero/review-3.png"
          alt="reviews"
          width="66"
          height="66"
        />
      </picture>

      <div class="review-circle">
        <p class="hero-review-text first-line">2K</p>
        <p class="hero-review-text second-line">reviews</p>
      </div>
    </div>

    <h1 class="hero-title">
      organic <span class="special-hero-title hero-title">vegetables</span> to
      your diet today!
    </h1>
    <p class="hero-text">
      Our expertly curated vegetable baskets are made with the freshest, highest
      quality vegetables available. Fresh Harvest Box has got you covered.
      Fresh, high-quality vegetables in expertly curated vegetable baskets
      delivered to you.
    </p>
    <button class="hero-btn data-modal-open">Shop now</button>

    <picture class="hero-img">
      <source
        srcset="
          ./img/hero/hero-girl.webp       1x,
          ./images/hero/hero-girl-2x.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
      />

      <source
        srcset="./img/hero/hero-girl.png 1x, ./images/hero/hero-girl-2x.png 2x"
        media="(min-width: 1280px)"
        type="image/png"
      />

      <img
        src="./img/hero/hero-girl.png"
        alt="woman"
        width="422"
        height="460"
      />
      <div class="background"></div>
    </picture>

    <div class="hashtags">
      <ul class="hashtag-list">
        <li class="hashtag-item organic">&#35;Organic</li>
        <li class="hashtag-item">&#35;Products</li>
        <li class="hashtag-item">&#35;Basket</li>
        <li class="hashtag-item">&#35;Vegetables</li>
      </ul>
    </div>
  </div>
</section>
