<section class="hero" id="hero">
  <div class="container">
    <div class="container-hero">
      <div class="hero-dekstop-leftside">
        <img
          class="hero-img"
          srcset="../img/hero/img-1.png 1x, ../img/hero/img-1@2x.png 2x"
          src="../img/hero/img-1.png"
          alt="2k reviews"
          width="129"
          height="44"
        />
        <h2 class="hero-tittle">
          organic <span>vegetables</span> to your diet today!
        </h2>
        <p class="hero-text">
          Our expertly curated vegetable baskets are made with the freshest,
          highest quality vegetables available. Fresh Harvest Box has got you
          covered. Fresh, high-quality vegetables in expertly curated vegetable
          baskets delivered to you.
        </p>
        <!-- <button class="hero-btn hero-anime" type="button" data-modal-open> -->
        <button class="hero-btn" type="button" data-modal-open>SHOP NOW</button>
      </div>
      <div class="hero-dekstop-rightside" data-aos="fade-down">
        <img
          class="hero-logo-back"
          srcset="../img/hero/img-2.png 1x, ../img/hero/img-2@2x.png 2x"
          src="../img/hero/img-2.png"
          alt=""
          width="230"
          height="228"
        />
        <div class="hero-container">
          <ul class="hero-list-link">
            <li class="hero-link-item"><a href="footer">#organic</a></li>
            <li class="hero-link-item"><a href="#call">#products</a></li>
            <li class="hero-link-item"><a href="#order">#basket</a></li>
            <li class="hero-link-item">
              <a href="#vegetables">#vegetables</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- !**** MODAL MENU ****! -->
</section>
