<section class="hero">
  <div class="container-hero">
<div class="section-one">
  <ul class="hero-reviews">
  <li class="hero-review-img"> 
   <img class="review-img"
  src="./img/hero/review-1.png" 
  alt="reviews"
  width="40"
  height="40"
/></li>
<li class="hero-review-two">

<img class="review-img"
  src="./img/hero/review-2.png" 
  alt="reviews"
  width="40"
  height="40"
/></li>
<li class="hero-review-three">

<img class="review-img"
  src="./img/hero/review-3.png" 
  alt="reviews"
  width="40"
  height="40"
/></li>
<li class="hero-review-four">
  <div class="review-circle">
  <p class="hero-text-one">2K</p> 
  <p class="hero-text-two">reviews</p>
</div></li>
</ul>


  <h1 class="hero-title">organic <span class="hero-span">vegetables</span> to your diet today!</h1>
  <p class="hero-text">Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available. Fresh Harvest Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.</p>
  <button class="hero-button" data-modal-open>Shop now</button>
 </div>
    
   <div class="section-two"> 
    <div class="test">
     <div class="background"></div>
      <picture class="hero-img">
       <img class="img-woman"
      src="./img/hero/hero-girl.png" 
      alt="woman"/>     
      </picture>
     </div>
 
        <div class="hashtag-list">
      <div class="hashtag-list-top"> 
      <a class="hashtag-item organic" href="">&#35;Organic</a>
      <a class="hashtag-item" href="">&#35;Products</a>
    </div> 
    <div class="hashtag-list-bottom"> 
      <a class="hashtag-item basket" href="">&#35;Basket</a>
      <a class="hashtag-item" href="">&#35;Vegetables</a>
    </div> 
     </div>
     </div>

  </div>
</section>
