<section class="how-it" id="how-it">
  <div class="how-it-container">
    <div class="how-it-picture">
      <div class="how-it-title-container">
        <h2 class="how-it-title">
          To order your vegetable basket, simply follow these easy steps
        </h2>
      </div>

      <img
        class="how-it__title-img"
        src="../img/how-it/vegetables.jpg"
        alt=""
        width="410"
        height="170"
      />
    </div>
    <div class="how-it-text-container">
      <p class="how-it-text text_one">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <p class="how-it-text text_two">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>
  </div>
</section>
<!-- <picture>
      <source
        srcset="
          ./img/how-it/vegetables1xdesk.jpg 1x,
          ./img/how-it/vegetables2xdesk.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/how-it/vegetablestab1x.jpg 1x,
          ./img/how-it/vegetablestab2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/how-it/vegetables1x.jpg 1x,
          ./img/how-it/vegetables2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="broccoli"
        src="./img/how-it/vegetables.jpg"
        alt="Broccoli"
        width="335"
      />
    </picture> -->
