<!-- modal window for mobile-->
<section class="order-main"></section>
<h2>Your Order</h2>
<button class="order-bnt" type="button"><svg class="order-svg" width="24" height="24"><use href="../img/icons.svg#icon-x-close"></use></svg>  
</button>
<div>
  <ul>
    <li>
      <h3>Cabbage Basket</h3>
      <p>Plant</p>
      <div class="order-check-box">
        <input
          type="checkbox"
          class="order-input "
          name="order-user"
          id="order-user"
          value="true"
        /><label for="order-user" class="chec-text"> </label>
        </div>
        <img  srcset="./images/comp.jpg 1x, ./images/comp-2x.jpg 2x" 
               src="./images/comp.jpg" alt="cabbage" width="94" />
    </li>
    <li>
      <h3>Tomato Basket</h3>
      <p>Plant</p>
      <div class="order-check-box">
        <input
          type="checkbox"
          class="order-input "
          name="order-user"
          id="order-user"
          value="true"
        /><label for="order-user" class="chec-text"> </label> 
              </div>
              <img  srcset="./images/comp.jpg 1x, ./images/comp-2x.jpg 2x" 
               src="./images/comp.jpg" alt="tomato" width="94" />
    </li>
    <li>
      <h3>Vegetables Basket</h3>
      <p>Plant</p>
      <div class="order-check-box">
        <input
          type="checkbox"
          class="order-input "
          name="order-user"
          id="order-user"
          value="true"
        /><label for="order-user" class="chec-text"> </label>        
      </div>
      <img  srcset="./images/comp.jpg 1x, ./images/comp-2x.jpg 2x" 
               src="./images/comp.jpg" alt="basket" width="94" />
    </li>
  </ul>
</div>
<div class="backdrop is-hidden" data-modal>
  <div class="modal"></div>
</div>
