<!-- modal window for mobile-->
<div class="backdrop is-hidden" data-modal>
<section class="order-main">
<h2 class="order-title">Your Order</h2>
<button class="order-bnt data-modal-close" type="button">
  <svg class="order-svg" width="24" height="24">
    <use href="./img/icons.svg#icon-x-close"></use></svg>  
</button>
<div>
  <ul class="order-list">
    <li class="order-items">
      <h3 class="order-product-name">Cabbage Basket</h3>
      <p class="order-text">Plant</p>
      <div class="order-check-box">
        <input
          type="checkbox"
          class="order-input "
          name="order-user"
          id="order-user"
          value="true"
        /><label for="order-user" class="order-chec-text"><span>
          <svg class="order-svg-pick" width="24" height="24">
            <use href="./img/icons.svg#icon-pick"></use></svg>
        </span> </label>
        </div>
        <img class="order-img" src="./img/order/cabbage.png" alt="cabbage" width="94" height="78" />
    </li>
    <li class="order-items">
      <h3>Tomato Basket</h3>
      <p>Plant</p>
      <div class="order-check-box">
        <input
          type="checkbox"
          class="order-input "
          name="order-user"
          id="order-user"
          value="true"
        /><label for="order-user" class="chec-text"> </label> 
              </div>
              <img  src="./img/order/tomato.png" alt="tomato" width="94" height="78" />
    </li>
    <li class="order-items">
      <h3>Vegetables Basket</h3>
      <p>Plant</p>
      <div class="order-check-box">
        <input
          type="checkbox"
          class="order-input "
          name="order-user"
          id="order-user"
          value="true"
        /><label for="order-user" class="chec-text"> </label>        
      </div>
      <img  src="../img/order/vegetables basket.png" alt="basket" width="94" />
    </li>
  </ul>
  <form class="order-form">
    <div class="">
      <label class="modal-label" for="user-name"></label>
    
    <div class="modal-sec-input">
      <input
        id="user-name"
        type="text"
        name="user-name"
        class="modal-input"
        placeholder="Text input"
        
      />
      <svg class="modal-input-svg" width="18" height="24">
        <use href="./images/icons.svg#icon-person-black"></use>
      </svg>
    </div>
   </div>
    <div class="modal-sec">
      <label class="modal-label" for="use-name"></label>
    
    <div class="modal-sec-input">
      <input
        id="use-name"
        type="tel"
        name="name"
        class="modal-input"
        placeholder="Text input"/>
      <svg class="modal-input-svg" width="18" height="24">
        <use href="./images/icons.svg#icon-phone-black"></use>
      </svg>
    </div>
   </div>

    <div class="modal-sec">
      <label class="modal-label" for="us-name"></label>
    
    <div class="modal-sec-input">
      <input
      id="us-name"
      type="email"
      name="name-user"
      class="modal-input"
      placeholder="Text input"/>
      <svg class="modal-input-svg" width="18" height="24">
        <use href="./images/icons.svg#icon-email-black"></use>
      </svg>
    </div>
   </div>
    <div class="modal-sec-checkbox">
      <label class="modal-label" for="user-comment"></label>
      <textarea  name="user-comment" id="user-comment"
        class="textarea-checkbox" placeholder="Text input" ></textarea>
    </div>
    <div class="check-box">
      <input
        type="checkbox"
        class="input-checkbox visually-hidden"
        name="user-privacy"
        id="user-privacy"
        value="true"
      />
      <label for="user-privacy" class="chec-text">
        <span class="chec-span"
          ><svg class="chec-svg" width="10" height="8">
            <use href="./images/icons.svg#icon-Vector"></use>
          </svg>
        </span>
      </label>
      
    </div>
    <button type="submit" class="modal-sec-btn">Submit</button>
  </form>
</section>
</div>

  <div class="modal"></div>
</div>
