<!-- modal window for mobile-->
<div class="backdrop is-hidden" data-modal>
  <section class="test">
  <div class="order-modal" >
    
    <div class="order-main " >
     <h2 class="order-title">Your Order</h2>
     <button class="order-bnt" data-modal-close type="button">
     <svg class="order-svg" width="24" height="24">
     <use href="./img/icons.svg#icon-x-close"></use></svg>  
     </button>
   </div>
<ul class="order-list">
 <li class="order-items">
   <h3 class="order-product-name">Cabbage Basket</h3>
   <p class="order-text">Plant</p>
    <div class="order-check-box">
     <input
       type="checkbox"
       class="order-input visually-hidden"
       name="order-user "
       id="order-user1"
       value="true"
     /><label for="order-user1" class="order-chec-text"><span>
       <svg class="order-svg-pick" width="8" height="8">
         <use href="./img/icons.svg#icon-pick"></use></svg>
     </span> </label>
     </div>
     <img class="order-img" srcset="./img/order/cabbage.jpg 1x, ./img/order/cabbage-2x.jpg 2x" src="./img/order/cabbage.jpg" alt="cabbage"   width="94" height="78" />
 </li>
 <li class="order-items">
   <h3 class="order-product-name">Tomato Basket</h3>
   <p class="order-text">Plant</p>
   <div class="order-check-box">
     <input
       type="checkbox"
       class="order-input  visually-hidden"
       name="order-user"
       id="order-user2"
       value="true"
     /><label for="order-user2" class="order-chec-text"><span>
       <svg class="order-svg-pick" width="8" height="8">
         <use href="./img/icons.svg#icon-pick"></use></svg>
     </span> </label> 
           </div>
           <img class="order-img" srcset="./img/order/tomato.jpg 1x, ./img/order/tomato-2x.jpg 2x"  src="./img/order/tomato.jpg" alt="tomato" width="94" height="78" />
 </li>
 <li class="order-items">
   <h3 class="order-product-name">Vegetables Basket</h3>
   <p class="order-text">Plant</p>
   <div class="order-check-box">
     <input
       type="checkbox"
       class="order-input visually-hidden"
       name="order-user"
       id="order-user3"
       value="true"
     /><label for="order-user3" class="order-chec-text"><span>
       <svg class="order-svg-pick" width="8" height="8">
         <use href="./img/icons.svg#icon-pick"></use></svg>
     </span> </label>       
   </div>
   <img class="order-img" srcset="./img/order/vegetables-basket.jpg 1x, ./img/order/vegetables-basket-2x.jpg 2x" src="./img/order/vegetables-basket.jpg" alt="basket" width="94" height="78"/>
 </li>    
</ul>
<section class="order-form">
<div > 
 <form  class="order-form-nex"> 
   <label class="order-label" for="user-name"></label>
   <input
   id="user-name"
   type="name"
   name="user-name"
   class="order-form-input" required
   placeholder="Enter full name..."/>

   <label class="order-label" for="use-name"></label>
    <input
     id="use-name"
     type="email"
     name="user-email"
     class="order-form-input" required
     placeholder="Enter email..."/>

     <label class="order-label" for="us-name"></label>
     <input
       id="us-name"
       type="tel"
       name="user-card"
       class="order-form-input" required
        placeholder="Enter card.."/>

   <label class="order-label" for="user-comment"></label>
   <textarea  
     name="user-comment" 
     id="user-comment"
     class="order-label-textarea" 
     placeholder="Enter comments..." ></textarea>
   </form> 
   <button type="submit" class="order-submit-btn">Submit</button>
  </div> 
   <div class="order-img-below">
     <img class="img-below" srcset="./img/order/img-girl-below.jpg 1x, ./img/order/img-girl-below-2x.jpg 2x" src="./img/order/img-girl-below.jpg" alt="girl" />
   </div> 
  </section>
   <div class="order-img-big">
     <img srcset="./img/order/img-girl-big.jpg 1x, ./img/order/img-girl-big-2x.jpg 2x" src="./img/order/img-girl-big.jpg" alt="girl" />
   </div> 
  
</div>
</section>
</div>

  

