<div class="section steps">
  <section class="steps-section">
    <h2 class="steps-heading">3 Easy Steps for Buying Fresh Vegetables</h2>
    <ol class="steps-list">
      <li class="steps-item">
        Just choose the vegetable you want to order by clicking on the
        checkboxes next to it.
      </li>
      <li class="steps-item">Click on the basket and fill out the form.</li>
      <li class="steps-item">
        Sit back and relax! Your fresh vegetables basket will be delivered.
      </li>
    </ol>
  </section>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ad
    reprehenderit architecto, nostrum rerum velit quos explicabo laborum
    doloribus rem assumenda? Quae reiciendis officiis vero sequi eius minima
    omnis esse!
  </p>
</div>

<!-- responsive image -->
<!-- <img
  srcset="./img/photo.jpg 1x, ./img/photo@2x.jpg 2x"
  src="./img/photo.jpg"
  alt="Опис зображення для всіх версій"
/> -->
