<section class="section steps container">
  <div class="steps-section">
    <div class="steps-wrap">
      <h2 class="steps-title">3 Easy Steps for Buying Fresh Vegetables</h2>
      <ol class="steps-list">
        <li class="steps-item">
          Just choose the vegetable you want to order by clicking on the
          checkboxes next to it.
        </li>
        <li class="steps-item">Click on the basket and fill out the form.</li>
        <li class="steps-item">
          Sit back and relax! Your fresh vegetables basket will be delivered.
        </li>
      </ol>
    </div>
    <img
      srcset="
        ./img/steps/litte-girl-veggy.jpg 1x,
        ./img/steps/little-girl2x.jpg    2x
      "
      src="./img/steps/litte-girl-veggy.jpg"
      alt="little-girl-in-red-cap"
      class="steps-img"
      width="356"
    />
  </div>
</section>
