<section class="vegetables">
  <div class="container container-vegetables">
    <h2 class="vegetables-title">ORGANIC VEGETABLES</h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>

    <ul class="veg-list list">
      <li class="veg-item">
        <div class="vegetables-stems">
          <h3 class="vegetables-subtitle">Carrot</h3>
          <p class="veg-text">Plant</p>
          <div class="veg-img-icons">
            <img class="veg-img" src="./img/vegetables/carrot.png" alt="carrot" width="292" height="223" />
            <svg class="veg-icons" width="195" height="38">
              <use href="./img/icons.svg#icon-oval-shadow"></use>
            </svg>
          </div>
          <p class="veg-text-kg">100 UAH / kg</p>
        </div>
      </li>
      <li class="veg-item">
        <div class="vegetables-stems">
          <h3 class="vegetables-subtitle">Brussel sprouts</h3>
          <p class="veg-text">Plant</p>
          <div class="veg-img-icons">
            <img class="veg-img" src="./img/vegetables/brussel.png" alt="brussel" width="230" height="230" />
            <svg class="veg-icons" width="195" height="38">
              <use href="./img/icons.svg#icon-oval-shadow"></use>
            </svg>
          </div>
          <p class="veg-text-kg">80 UAH / kg</p>
        </div>
      </li>
      <li class="veg-item">
        <div class="vegetables-stems">
          <h3 class="vegetables-subtitle">Tomato</h3>
          <p class="veg-text">Plant</p>
          <div class="veg-img-icons">
            <img class="veg-img" src="./img/vegetables/tomato.png" alt="tomato" width="278" height="176" />
            <svg class="veg-icons" width="195" height="38">
              <use href="./img/icons.svg#icon-oval-shadow"></use>
            </svg>
          </div>
          <p class="veg-text-kg">40 UAH / kg</p>
        </div>
      </li>
      <li class="veg-item">
        <div class="vegetables-stems">
          <h3 class="vegetables-subtitle">Eggplant</h3>
          <p class="veg-text">Plant</p>
          <div class="veg-img-icons">
            <img class="veg-img" src="./img/vegetables/eggplant.png" alt="eggplant" width="194" height="193" />
            <svg class="veg-icons" width="195" height="38">
              <use href="./img/icons.svg#icon-oval-shadow"></use>
            </svg>
          </div>
          <p class="veg-text-kg">60 UAH / kg</p>
        </div>
      </li>
      <li class="veg-item">
        <div class="vegetables-stems">
          <h3 class="vegetables-subtitle">Sweet potatoes</h3>
          <p class="veg-text">Plant</p>
          <div class="veg-img-icons">
            <img class="veg-img" src="./img/vegetables/potatoes.png" alt="potatoes" width="294" height="189" />
            <svg class="veg-icons" width="195" height="38">
              <use href="./img/icons.svg#icon-oval-shadow"></use>
            </svg>
          </div>
          <p class="veg-text-kg">80 UAH / kg</p>
        </div>
      </li>
      <li class="veg-item">
        <div class="vegetables-stems">
          <h3 class="vegetables-subtitle">Leek</h3>
          <p class="veg-text">Plant</p>
          <div class="veg-img-icons">
            <img class="veg-img" src="./img/vegetables/leek.png" alt="leek" width="284" height="198" />
            <svg class="veg-icons" width="195" height="38">
              <use href="./img/icons.svg#icon-oval-shadow"></use>
            </svg>
          </div>
          <p class="veg-text-kg">50 UAH / kg</p>
        </div>
      </li>
      <li class="veg-item">
        <div class="vegetables-stems">
          <h3 class="vegetables-subtitle">Mushrooms</h3>
          <p class="veg-text">Plant</p>
          <div class="veg-img-icons">
            <img class="veg-img" src="./img/vegetables/mushrooms.png" alt="mushrooms" width="325" height="183" />
            <svg class="veg-icons" width="195" height="38">
              <use href="./img/icons.svg#icon-oval-shadow"></use>
            </svg>
          </div>
          <p class="veg-text-kg">40 UAH / kg</p>
        </div>
      </li>
      <li class="veg-item">
        <div class="vegetables-stems">
          <h3 class="vegetables-subtitle">Corn</h3>
          <p class="veg-text">Plant</p>
          <div class="veg-img-icons">
            <img class="veg-img" src="./img/vegetables/corn.png" alt="corn" width="265" height="203" />
            <svg class="veg-icons" width="195" height="38">
              <use href="./img/icons.svg#icon-oval-shadow"></use>
            </svg>
          </div>
          <p class="veg-text-kg">60 UAH / kg</p>
        </div>
      </li>
      <li class="veg-item">
        <div class="vegetables-stems">
          <h3 class="vegetables-subtitle">Radish</h3>
          <p class="veg-text">Plant</p>
          <div class="veg-img-icons">
            <img class="veg-img" src="./img/vegetables/radish.png" alt="corn" width="265" height="203" />
            <svg class="veg-icons" width="195" height="38">
              <use href="./img/icons.svg#icon-oval-shadow"></use>
            </svg>
          </div>
          <p class="veg-text-kg">90 UAH / kg</p>
        </div>
      </li>
    </ul>
    <div class="order-btn-wrap">
      <button class="button-veg" type="button" data-modal-open>ORDER</button>
      <span class="order-icon">
        <svg width="14" height="14">
          <use href="./img/icons.svg#icon-vector"></use>
        </svg>
      </span>

    </div>

  </div>
</section>