<section class="vegetables">
  <div class="container container-vegetables">
    <h2 class="vegetables-title">ORGANIC VEGETABLES</h2>
    <p class="vegetables-text">Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep,
      ensuring
      that you get
      the freshest and most nutritious produce possible.</p>

    <ul class="veg-list list">
      <li class="veg-item">
        <div class="vegetables-items">
          <h3 class="vegetables-subtitle">Carrot</h3>
          <p class="veg-text">Plant</p>
          <picture>
            <source media="(min-width: 375px)" srcset="
                                      ./img/vegetables/carrot-mob.png   1x,
                                      ./img/vegetables/carrot-mob-2x.png 2x
                                    " />
            <source media="(min-width: 768px)" srcset="
                                      ./img/vegetables/carrot-tab.png  1x,
                                      ./img/vegetables/carrot-tab-2x.png 2x
                                    " />
            <source media="(min-width: 1280px)" srcset="
                                      ./img/vegetables/carrot-dest.png   1x,
                                      ./img/vegetables/carrot-dest-2x.png 2x
                                    " />
            <img src="./img/vegetables/carrot-dest.png" alt="carrot" />
          </picture>
        </div>
        <p class="veg-text-kg">80 UAH / kg</p>
      </li>
      <li class="veg-item">
        <div class="vegetables-items">
          <h3 class="vegetables-subtitle">Brussel sprouts</h3>
          <p class="veg-text">Plant</p>
          <picture>
            <source media="(min-width: 375px)" srcset="
                                    ./img/vegetables/brussel-mob.png   1x,
                                    ./img/vegetables/brussel-mob-2x.png 2x
                                                            " />
            <source media="(min-width: 768px)" srcset="
                                    ./img/vegetables/brusselt-tab.png  1x,
                                    ./img/vegetables/brussel-tab-2x.png 2x
                                    " />
            <source media="(min-width: 1280px)" srcset="
                                    ./img/vegetables/brussel-dest.png   1x,
                                    ./img/vegetables/brussel-dest-2x.png 2x
                                    " />
            <img src="./img/vegetables/brussel-dest.png" alt="Brussel sprouts" />
          </picture>
        </div>
        <p class="veg-text-kg">80 UAH / kg</p>

      </li>
      <li class="veg-item">
        <div class="vegetables-items">
          <h3 class="vegetables-subtitle">Tomato</h3>
          <p class="veg-text">Plant</p>
          <picture>
            <source media="(min-width: 375px)" srcset="
                                    ./img/vegetables/tomato-mob.png   1x,
                                    ./img/vegetables/tomato-mob-2x.png 2x
                                    " />
            <source media="(min-width: 768px)" srcset="
                                    ./img/vegetables/tomato-tab.png  1x,
                                    ./img/vegetables/tomato-tab-2x.png 2x
                                    " />
            <source media="(min-width: 1280px)" srcset="
                                     ./img/vegetables/tomato-dest.png   1x,
                                     ./img/vegetables/tomato-dest-2x.png 2x
                                     " />
            <img src="./img/vegetables/tomato-dest.png" alt="Tomato" />
          </picture>
        </div>
        <p class="veg-text-kg">40 UAH / kg</p>

      </li>
      <li class="veg-item">
        <div class="vegetables-items">
          <h3 class="vegetables-subtitle">Eggplant</h3>
          <p class="veg-text">Plant</p>
          <picture>
            <source media="(min-width: 375px)" srcset="
                                    ./img/vegetables/eggplant-mob.png   1x,
                                    ./img/vegetables/eggplant-mob-2x.png 2x
                                     " />
            <source media="(min-width: 768px)" srcset="
                                     ./img/vegetables/seggplant-tab.png  1x,
                                     ./img/vegetables/eggplant-tab-2x.png 2x
                                     " />
            <source media="(min-width: 1280px)" srcset="
                                     ./img/vegetables/eggplant-dest.png   1x,
                                    ./img/vegetables/eggplant-dest-2x.png 2x
                                     " />
            <img src="./img/vegetables/eggplant-dest.png" alt="Eggplant" />
          </picture>
        </div>
        <p class="veg-text-kg">60 UAH / kg</p>

      </li>
      <li class="veg-item">
        <div class="vegetables-items">
          <h3 class="vegetables-subtitle">Sweet potatoes</h3>
          <p class="veg-text">Plant</p>
          <picture>
            <source media="(min-width: 375px)" srcset="
                                    ./img/vegetables/potatoes-mob.png   1x,
                                     ./img/vegetables/potatoes-mob-2x.png 2x
                                     " />
            <source media="(min-width: 768px)" srcset="
                                     ./img/vegetables/potatoes-tab.png  1x,
                                     ./img/vegetables/potatoes-tab-2x.png 2x
                                      " />
            <source media="(min-width: 1280px)" srcset="
                                      ./img/vegetables/potatoes-dest.png   1x,
                                      ./img/vegetables/potatoes-dest-2x.png 2x
                                      " />
            <img src="./img/vegetables/potatoes-dest.png" alt="Sweet potatoes" />
          </picture>
        </div>
        <p class="veg-text-kg">80 UAH / kg</p>

      </li>
      <li class="veg-item">
        <div class="vegetables-items">
          <h3 class="vegetables-subtitle">Leek</h3>
          <p class="veg-text">Plant</p>
          <picture>
            <source media="(min-width: 375px)" srcset="
                                        ./img/vegetables/leek-mob.png   1x,
                                        ./img/vegetables/leek-mob-2x.png 2x
                                          " />
            <source media="(min-width: 768px)" srcset="
                                        ./img/vegetables/leek-tab.png  1x,
                                        ./img/vegetables/leek-tab-2x.png 2x
                                        " />
            <source media="(min-width: 1280px)" srcset="
                                        ./img/vegetables/leek-dest.png   1x,
                                        ./img/vegetables/leek-dest-2x.png 2x
                                        " />
            <img src="./img/vegetables/leek-dest.png" alt="Leek" />
          </picture>
        </div>
        <p class="veg-text-kg">50 UAH / kg</p>

      </li>
      <li class="veg-item">
        <div class="vegetables-items">
          <h3 class="vegetables-subtitle">Mushrooms</h3>
          <p class="veg-text">Plant</p>
          <picture>
            <source media="(min-width: 375px)" srcset="
                                    ./img/vegetables/mushrooms-mob.png   1x,
                                     ./img/vegetables/mushrooms-mob-2x.png 2x
                                       " />
            <source media="(min-width: 768px)" srcset="
                                     ./img/vegetables/mushrooms-tab.png  1x,
                                      ./img/vegetables/mushrooms-tab-2x.png 2x
                                     " />
            <source media="(min-width: 1280px)" srcset="
                                    ./img/vegetables/mushrooms-dest.png   1x,
                                    ./img/vegetables/mushrooms-dest-2x.png 2x
                                     " />
            <img src="./img/vegetables/mushrooms-dest.png" alt="Mushrooms" />
          </picture>
        </div>
        <p class="veg-text-kg">40 UAH / kg</p>

      </li>
      <li class="veg-item">
        <div class="vegetables-items">
          <h3 class="vegetables-subtitle">Corn</h3>
          <p class="veg-text">Plant</p>
          <picture>
            <source media="(min-width: 375px)" srcset="
                                         ./img/vegetables/corn-mob.png   1x,
                                          ./img/vegetables/corn-mob-2x.png 2x
                                        " />
            <source media="(min-width: 768px)" srcset="
                                         ./img/vegetables/corn-tab.png  1x,
                                         ./img/vegetables/corn-tab-2x.png 2x
                                         " />
            <source media="(min-width: 1280px)" srcset="
                                        ./img/vegetables/corn-dest.png   1x,
                                        ./img/vegetables/corn-dest-2x.png 2x
                                        " />
            <img src="./img/vegetables/corn-dest.png" alt="Corn" />
          </picture>
        </div>
        <p class="veg-text-kg">60 UAH / kg</p>

      </li>
      <li class="veg-item">
        <div class="vegetables-items">
          <h3 class="vegetables-subtitle">Radish</h3>
          <p class="veg-text">Plant</p>
          <picture>
            <source media="(min-width: 375px)" srcset="
                                ./img/vegetables/radish-dest.png   1x,
                               ./img/vegetables/radish-dest-2x.png 2x
                                " />
            <source media="(min-width: 768px)" srcset="
                                ./img/vegetables/radish-dest.png  1x,
                                ./img/vegetables/radish-dest-2x.png 2x
                                " />
            <source media="(min-width: 1280px)" srcset="
                                    ./img/vegetables/radish-dest.png   1x,
                                    ./img/vegetables/radish-dest-2x.png 2x
                                    " />
            <img src="./img/vegetables/radish-dest.png" alt="Radish" />
          </picture>
        </div>
        <p class="veg-text-kg">90 UAH / kg</p>

      </li>

    </ul>
    <div class="order-btn-wrap">
      <button class="button-veg" type="button" data-modal-open>
        <svg class="order-icon" width="14" height="14">
          <use href="./img/icons.svg#icon-vector"></use>
        </svg>
        ORDER</button>
    </div>

  </div>
</section>