.button-veg {
    width: 114px;
    height: 114px;
    transform: rotate(-14deg);
    color: var(--white-bg-color);
    text-align: center;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    border: none;
    border-radius: 50%;
    background-color: var(--orange-button-color);
    margin-bottom: 8px;
}

.button-veg:is(:hover, :focus) {
    background-color: var(--green-backround-color);

}
.order-icon {
    fill: var(--white-bg-color);
}

.order-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 124;
}