
.footer {
  background: var(--light-green-cards-color);
  
}

.footer_container {

  padding-top: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
 
 .body-footer__info {
   align-items: center;
   padding-top: 40px;
 }

 .text-info {
   text-align: center;
   width: 135px;
 }
/* -----------------section one---------------- */

.body-footer__imgbox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.body-footer__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 20px 0 40px 0;
  text-decoration: none;
  color: var(--black-text-color);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.56px;
}

.body-footer__logo{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.body-footer__logo:hover,
.body-footer__logo:focus{
 fill: var(--green-backround-color);
}

.body-footer__nav{
  margin-left: 45px;
}

/* -------------------section two----------------- */

.body-footer__menu {
  display: flex;
  gap: 12px;
}

.contacts-footer__link:hover,
.contacts-footer__link:focus {

  color: var(--green-backround-color);

}

.contacts-footer__link {
  text-decoration: none;
  color: var(--black-text-color);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.56px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*------- section three -------*/

.body-footer__info {
  display: flex;
  flex-direction: column;
}

.body-footer__sol {
  display: flex;
  gap: 20px;
  padding-bottom: 40px;
}


.footer-icon-sol {
  padding: 8px;
  border: 1px solid var(--black-text-color);
  border-radius: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-icon-sol:hover,
.footer-icon-sol:focus {
  fill: var(--green-backround-color);
  border: 1px solid var(--green-backround-color);
  
}

.address-menu{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: center;
}

.address-item{
  color: var(--black-text-color);
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
   
}

.address-link{

  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus{
  color: var(--green-backround-color);
}


@media screen and (min-width: 768px){
 

  
 .footer_container{
  display: flex;
  flex-direction: row;
  
 }

 .body-footer__info{
  margin-bottom: 80px;
  padding-top: unset;
 }

 .body-footer__nav{

  max-width: 241px;
 }

 .body-footer__menu{
 gap: 20px;
 text-align: center;
 }

 .body-footer__nav {
  margin-left: 44px;
 }

 .address-item{
  
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.36px;
 }

 .text-info{
  width: 173px;
  text-align: left;
  height: 54px;
  
 }

}

@media screen and (min-width: 1280px){
 

    
 .footer-img-nav{

  display: flex;
  flex-direction: row;
  gap: 166px;
  
 
 }

 .body-footer__logo{

  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;

 }

 .body-footer__info {
   margin-left: 166px;
 }

.address-item{

  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.36px;
}


.body-footer__menu{
  padding-top: 80px;
 
}

}