.header {  
  background-color: var(--white-bg-color);
  height: 50px;
  }

.header-container {
  padding: 13px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation, .container-button-shopping {
  display: none;
  }
.logo-veggieboost {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.icon-svg-vector {
 width: 16px;
 height: 16px;
 fill: #77AC63;
 }

.logo-name {
  color: #141414;
  text-align: center;  
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
.open-mobile-menu, .close-mobile-menu {
 background-color: transparent;
 border: none;
 fill: #77AC63;
 stroke: #77AC63;
}
.close-mobile-menu {
  background-color: transparent;
  border: none;
  fill:#77AC63;
  z-index: 9999;
}
/*---mobile-menu---*/

.container-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #A1C487;
  transition: transform 250ms ease-in-out;
  transform: translateX(100%);
}
.container-mobile-menu.is-open {
  transform: translateX(0);
}
.wrapper-mobile-menu {
  padding-top: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap:16px; 
  fill: var(--white-bg-color);
  color: var(--white-bg-color);
}

.header-list-mobmenu {
display: flex;
flex-direction: column;
gap: 16px;

}

.open-modal {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .header-navigation,
  .container-button-shopping {
  display: flex;
}
.container-button-openmobmenu {
  display: none;
}       
.header-list {
  display: flex;
  flex-direction: row;
  gap: 14px;
  }
.header-item {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
  }
  .container-navigation-logo {
   display: flex;
   gap: 86px;
  }
  .open-modal {
   background-color: var(--white-bg-color); 
   border: none;
   width: 20px;
   height: 20px;
   padding: inherit;
   background-color: transparent;
   border: none;
  }
  .icon-shopping {
  fill: #141414;
  }
}
@media screen and (min-width: 1280px) {
.header-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .container-navigation-logo {
    display: flex;
    gap: 308px;
  }
  .open-modal {
    width: 24px;
    height: 24px;      
  }
  .icon-shopping {
    width: 24px;
    height: 24px;
  }
}
