.hero {
  padding-top: 48px;
  padding-bottom: 20px;
  background: var(--green-backround-color);
  color: var(--white-bg-color);
  margin-bottom: 80px;
}

.hero-img {
  margin-bottom: 14px;
}

.hero-circle {
  display: flex;
}

.hero-tittle {
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.6px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.hero-tittle span {
  color: var(--light-bg-button-color);
  font-style: italic;
}

.hero-text {
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.56px;
  margin-bottom: 20px;
}

.hero-anime {
  display: flex;
  justify-content: center;
  color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  /* background:  rgb(255, 130, 0,) 20%, rgb(255, 38, 0) 80%; */
  transition: all 0.3s ease-in-out 0s;
  box-shadow: rgba(193, 244, 246, 0.698) 0px 0px 0px 0px;
  animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running
    pulse;
  align-items: center;
  border: 0;
}

@keyframes pulse {
  100% {
    box-shadow: 0 0 0 45px rgba(193, 244, 246, 0);
  }
}

.hero-btn {
  width: 68px;
  height: 68px;
  transform: rotate(-14deg);
  color: var(--orange-button-color);
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  border: none;
  border-radius: 50%;
  background-color: var(--light-bg-button-color);
  margin-bottom: 8px;
}

.hero-logo-back {
  margin: 0px auto 16px;
}

.hero-container {
  display: flex;
  justify-content: flex-end;
}

.hero-list-link {
  display: flex;
  flex-wrap: wrap;
  width: 173px;
  gap: 4px;
}

.hero-link-item {
  padding: 8px 14px;
  border-radius: 1000px;
  border: 1px solid var(--white-bg-color);
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.4px;
}

.hero-link-item:hover,
.hero-link-item:focus {
  background-color: #f9f7f4;
  color: var(--black-text-color);
}

.hero-link-item a {
  display: block;
}

/******* ! MEDIA 768 *********/
@media screen and (min-width: 768px) {
  .hero {
    margin-bottom: 100px;
  }
  .hero-reviews {
    display: flex;
    padding-top: 64px;
    padding-bottom: 16px;
  }
  .hero-review-img {
    height: 50px;
    width: 50px;
  }
  .hero-review-two {
    height: 50px;
    width: 50px;
  }
  .hero-review-three {
    height: 50px;
    width: 50px;
  }
  .hero-review-four {
    height: 50px;
    width: 50px;
  }
  .review-img {
    height: 46px;
    width: 46px;
  }
  .review-circle {
    width: 46px;
    height: 46px;
  }
  .hero-img {
    width: 158px;
    margin-bottom: 16px;
  }

  .hero-tittle {
    margin-bottom: 16px;
    font-size: 54px;
    letter-spacing: -2.16px;
    line-height: 1.06;
  }

  .hero-text {
    display: flex;
    width: 490px;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 1.12;
    letter-spacing: -0.56px;
  }

  .hero-btn {
    width: 114px;
    height: 114px;
    font-size: 24px;
    letter-spacing: -0.96px;
  }

  .hero-logo-back {
    width: 389px;
    margin: 0px auto 8px;
  }

  .hero-list-link {
    width: 215px;
    gap: 8px 4px;
  }

  .hero-link-item {
    padding: 10px 20px;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: -0.48px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    margin-bottom: 124px;
  }
  .container-hero {
    display: flex;
    justify-content: space-between;
  }
  .hero-reviews {
    padding-top: 132px;
    padding-bottom: 18px;
    height: 100px;
  }
  .hero-review-img {
    height: 66px;
    width: 66px;
  }
  .hero-review-two {
    height: 66px;
    width: 66px;
  }
  .hero-review-three {
    height: 66px;
    width: 66px;
  }
  .hero-review-four {
    height: 66px;
    width: 66px;
  }
  .review-img {
    height: 62px;
    width: 62px;
  }
  .review-circle {
    height: 62px;
    width: 62px;
  }
  .hero-text-one {
    width: 30px;
    height: 23px;
    font-size: 24px;

    line-height: 1;
    letter-spacing: -0.96px;
    margin: 16px 20px 2px;
  }

  .hero-text-two {
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: -0.48px;
    margin: 0 14px 15px;
  }
  .hero-dekstop-leftside {
    align-self: flex-start;
    max-width: 672px;
  }

  .hero-dekstop-rightside {
    align-self: flex-end;
  }

  .hero-tittle {
    font-size: 64px;
    line-height: 1.07;
    letter-spacing: -2.56px;
  }

  .hero-text {
    font-size: 14px;
    line-height: 1.13;
    letter-spacing: -0.56px;
  }

  .hero-btn {
    width: 132px;
    height: 132px;
    font-size: 28px;
    line-height: 1.07;
    letter-spacing: -1.12px;
  }

  .hero-logo-back {
    width: 515px;
  }

  .hero-list-link {
    width: 267px;
    gap: 8px;
  }

  .hero-link-item {
    padding: 12px 32px;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: -0.48px;
  }
}

/* review */
.hero-reviews {
  display: flex;
  padding-top: 48px;
  padding-bottom: 14px;
}

.hero-review-img {
  border: 2px solid var(--white-bg-color);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: relative;
}
.review-img {
}
.hero-review-two {
  border: 2px solid var(--white-bg-color);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: relative;
  right: 16px;
}
.hero-review-three {
  border: 2px solid var(--white-bg-color);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: relative;
  right: 32px;
}
.hero-review-four {
  border: 2px solid var(--white-bg-color);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  position: relative;
  right: 48px;
}
.review-circle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--white-bg-color);
  border-radius: 50%;
  padding: 0;
}
.hero-text-one {
  width: 20px;
  height: 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.56px;
  margin: 10px 12px 2px;
  color: var(--black-text-color);
}
.hero-text-two {
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: -0.32px;
  margin: 0 9px 10px;
  color: var(--black-text-color);
}

/****  MODAL MENU  *****/
