.how-it{
    width: 100%;
    padding: 80px 5px;
    margin: 0 auto;

}

.how-it-title {

    color: var(--black-text-color);
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.12px;
    text-transform: uppercase;
}

.how-it-picture{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.how-it-text {
    color: var(--black-text-color);
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.56px;
}

.how-it-text-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



@media screen and (min-width: 375px) {

    .how-it-container {
        width: 100%;
        min-width: 320px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
       
        

    }

    .how-it-title {

        color: var(--black-text-color);
        font-size: 28px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: -1.12px;
        text-transform: uppercase;
    }

    

    .how-it-text {
        color: var(--black-text-color);
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.56px;
    }

    .how-it-text-container{
        padding-right: 20px;
    }

}


/*.how-it {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding: 0 32px;
}

.how-it-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.how-it-picture {
    display: flex;
    max-width: 1216px;
    gap: 119px;
   
}

.how-it-text-container {
    display: flex;
    gap: 40px;
}

.how-it-title {
    color: var(--black-text-color);
    font-size: 48px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -1.92px;
    text-transform: uppercase;
    max-width: 700px;
}

.how-it__title-img{
    max-height: 170px;
}

.how-it-text {
    color: var(--black-text-color);
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.72px;
}

.text_one {
    max-width: 344px;
}

.text_two {
    max-width: 294px;
}*/



/*------------Media------------*/

@media screen and (min-width: 768px) {

    .how-it-container{
        width: 100%;
        padding-right: 32px;
        padding-left: 32px;
       

    }

    .how-it-title{
        color: var(--black-text-color);
        font-size: 40px;
        font-weight: 500;
        line-height: 44px;
        letter-spacing: -1.6px;
        text-transform: uppercase;
       
       

    }

    .how-it-text{
        color: var(--black-text-color);
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.72px;
    }

    .how-it-picture {
        display: flex;
        flex-wrap: nowrap;
        gap:8px;
        margin-bottom: 0;
        min-width: 704px;
    }

    .how-it__title-img {
            max-width: 310px;
            max-height: 176px;
    }

    .how-it-text-container{
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            gap: 20px;
            min-width: 616px;
       
         
    }
    .text_one{
        max-width: 317px;
    }


}

   

@media screen and (min-width: 1280px) {
    .how-it {
            max-width: 1280px;
            margin: 0 auto;
            width: 100%;
            padding: 0 32px;
            
        }
    
        .how-it-container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-bottom: 124px;
        }
    
        .how-it-picture {
            display: flex;
            max-width: 1216px;
            gap: 119px;
    
        }
    
        .how-it-text-container {
            display: flex;
            gap: 40px;
        }
    
        .how-it-title {
            color: var(--black-text-color);
            font-size: 48px;
            font-weight: 500;
            line-height: 50px;
            letter-spacing: -1.92px;
            text-transform: uppercase;
            max-width: 700px;
        }
    
        .how-it__title-img {
            max-height: 170px;
        }
    
        .how-it-text {
            color: var(--black-text-color);
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.72px;
        }
    
        .text_one {
            max-width: 344px;
        }
    
        .text_two {
            max-width: 294px;
        }






}
    
