@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
.steps-section {
    padding-top: 40px;
}
.steps-wrap {
    display: flex;
    width: 295px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 20px;
}
.steps-title {
        text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
        font-size: 24px;
        font-weight: 500;
        line-height: 1.16; /* 28/24 */
        letter-spacing: -0.96px;
        text-transform: uppercase;
        padding: 40px 20px;
}

.steps::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #faf3e7;
    background-image: radial-gradient(circle at 30px 20px,
            rgba(161, 196, 135, 0.69) 5.025px,
            transparent 0);
    background-size: 62px 60px;
    border-radius: 80px;
    z-index: -1;
    max-width: 375px;
}
.steps {
    position: relative;
    /* max-width: 375px; */
}
.steps-img {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.steps-list {
    max-width: 350px;
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 40px;
    display: flex;
    width: 274px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.steps-item {
    margin: 0 0 0.5rem 0;
    counter-increment: my-awesome-counter;
    position: relative;
}

.steps-item::before {
    content: counter(my-awesome-counter);
    color: var(--black-text-color);
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 0;
    background: var(--green-backround-color);
    border-radius: 200px;
    text-align: center;
    box-shadow: 1px 1px 0 #999;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.72px;
    display: flex;
    padding: 10px 17px;
    justify-content: center;
    align-items: center;
}