/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
/* @import url('./hero.css'); */
@import url('./hero-try.css');
@import url('./how-it.css');
@import url('./steps.css');
@import url('./vegetables.css');
@import url('./call-you.css');
@import url('./footer.css');
@import url('./order.css');
@import url('./button.css');

@font-face {
  font-family: 'DM Sans';
  src: url('../font/DMSans-Regular.eot');
  src: local('DM Sans Regular'), local('DMSans-Regular'),
    url('../font/DMSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/DMSans-Regular.woff2') format('woff2'),
    url('../font/DMSans-Regular.woff') format('woff'),
    url('../font/DMSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../font/DMSans-Medium.eot');
  src: local('DM Sans Medium'), local('DMSans-Medium'),
    url('../font/DMSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/DMSans-Medium.woff2') format('woff2'),
    url('../font/DMSans-Medium.woff') format('woff'),
    url('../font/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../font/DMSans-MediumItalic.eot');
  src: local('DM Sans Medium Italic'), local('DMSans-MediumItalic'),
    url('../font/DMSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../font/DMSans-MediumItalic.woff2') format('woff2'),
    url('../font/DMSans-MediumItalic.woff') format('woff'),
    url('../font/DMSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../font/DMSans-BoldItalic.eot');
  src: local('DM Sans Bold Italic'), local('DMSans-BoldItalic'),
    url('../font/DMSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../font/DMSans-BoldItalic.woff2') format('woff2'),
    url('../font/DMSans-BoldItalic.woff') format('woff'),
    url('../font/DMSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../font/DMSans-Italic.eot');
  src: local('DM Sans Italic'), local('DMSans-Italic'),
    url('../font/DMSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('../font/DMSans-Italic.woff2') format('woff2'),
    url('../font/DMSans-Italic.woff') format('woff'),
    url('../font/DMSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../font/DMSans-Bold.eot');
  src: local('DM Sans Bold'), local('DMSans-Bold'),
    url('../font/DMSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/DMSans-Bold.woff2') format('woff2'),
    url('../font/DMSans-Bold.woff') format('woff'),
    url('../font/DMSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --black-text-color: #141414;
  --green-backround-color: #a1c487;
  --light-green-cards-color: #eaf7e5;
  --orange-button-color: #fc8a11;
  --light-bg-button-color: #faf3e7;
  --white-bg-color: #ffffff;
  --grey-bg-button-color: #f9f7f4;
  --grey-color: #f3f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  padding: 0;

  border: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-family: inherit;
  margin: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin-bottom: 124px;
  }
}

body {
  font-family: DM sans, sans-serif;
  font-size: 14px;
  line-height: 1.28;
  font-weight: 400;
  letter-spacing: -0.56px;
  color: var(--black-text-color);
  background-color: var(--white-bg-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
