.vegetables {

    background-color: #FFFFFF;

}

.vegetables-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    padding: 0 20px;
}


.container-vegetables {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.veg-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


.veg-list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px 20px;
    border-radius: 20px;
    min-height: 443px;
    background-color: #eaf7e5;
    margin-right: 0;
    width: 100%;
    min-width: 335px;
}

.veg-item {
    background-color: #EAF7E5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 443px;
    padding: 40px 20px 20px;
    border-radius: 20px;
}

.veg-item:is(:hover, :active) {
    transform: scale(1.1) !important;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.veg-item:last-child {
    display: none;
}

.vegetables-title {

    color: #141414;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    margin-bottom: 14px;
    text-align: center;
}

.vegetables-text {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.04em;
    margin-bottom: 40px;
}


.vegetables-subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: -0.04em;
    margin-bottom: 8px;

}

.veg-text {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04em;
    margin-bottom: 36px;
}


.veg-icons {
    display: block;
    fill: #141414;
    /* opacity: 0.10000000149011612; */
    filter: blur(13.591408729553223px);
    position: relative;
    top: 0px;
    left: 62px;

}


.veg-text-kg {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.04em;
}

.veg-list:last-child {
    display: none;
}

.order-btn {}


@media screen and (min-width: 375px) and (max-width: 767px) {
    .container-vegetables {
        max-width: 375px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .container-vegetables {
        max-width: 768px;
        padding: 0 32px;
    }

    .veg-list {
        margin-bottom: 40px;
    }

    .veg-item {
        padding: 64px 24px 24px;
        width: calc((100% - 20px) / 2);
        height: 465px;
    }

    .vegetables-subtitle {
        font-size: 28px;
        line-height: 1.14;
    }

    .veg-text {
        font-size: 18px;
        line-height: 1.33;
        margin: 0 0 7px;
    }

    .veg-text-kg {
        font-size: 18px;
        line-height: 1.33;
    }

    .vegetables-title {
        font-size: 28px;
        line-height: 1.14;
    }

    .vegetables-text {
        width: 562px;
        font-size: 18px;
        line-height: 1.33;
    }

}

@media screen and (min-width: 1280px) {
    .container-vegetables {
        max-width: 1280px;
        padding: 0 32px;
    }

    .veg-list {
        margin-bottom: 40px;
        gap: 24px;
    }

    .veg-item {
        padding: 64px 24px 24px;
        width: calc((100% - 48px) / 3);
        height: 465px;
    }

    .vegetables-item picture {
        display: block;
        width: 321px;
        max-height: 261px;
        margin: 0 auto;
    }

    .vegetables-subtitle {
        font-size: 32px;
        line-height: 1.18;
    }

    .veg-text {
        font-size: 18px;
        line-height: 1.33;
        margin: 0;
    }

    .veg-text-kg {
        font-size: 18px;
        line-height: 1.33;
    }

    .veg-item:last-child {
        display: flex;
    }

    .vegetables-title {
        font-size: 40px;
        line-height: 1.1;
    }

    .vegetables-text {
        width: 562px;
        font-size: 18px;
        line-height: 1.33;
    }

}

/* .button-veg {
    width: 114px;
    height: 114px;
    transform: rotate(-14deg);
    color: var(--white-bg-color);
    text-align: center;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    border: none;
    border-radius: 50%;
    background-color: var(--orange-button-color);
    margin-bottom: 8px;
}

.button-veg:is(:hover, :focus) {
    background-color: var(--green-backround-color);

}

.order-icon {
    fill: var(--white-bg-color);
}

.order-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 124;
} */